* {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    background-color: rgb(250, 250, 250);
}

/* nav */
nav {
    position:fixed;
    background-color: rgb(240, 240, 240);
    border-bottom: 1px solid rgb(243, 241, 245);
    width: 100%;
    z-index: 2;
    height:3rem;
    box-shadow: 2px 2px 8px rgb(127, 124, 130);
    margin-bottom: 3rem;
}
ul {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    flex-wrap: nowrap;
    padding: 0;
}
ul li {
    list-style-type: none;
}
a {
    text-decoration: none;
}
li a {
    font-family: 'Prata', serif;
    font-weight: 800;
    color:rgb(127, 124, 130);

}
li a:hover {
    text-shadow: 2px 2px 4px rgb(243, 241, 245);
}

/*  HOME  */

h1 {
    font-family: 'Rubik Vinyl', cursive;
    font-size: 2.5rem;
    align-self: center;
    font-weight: 300;
    color: rgb(255, 255, 255);
    position: absolute;
    top: 2rem;
    left: 2rem;
}
.home {
    background-image:url("mievento1.jpeg");
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    width: auto;
    height: 1000px;
    margin: 0;
    box-shadow: 2px 2px 8px rgb(127, 124, 130);
}
.home img{
    width: 100%;
    height: 1200px;
}

/* galeria */

.galeria {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.dos {
    display: flex;
    width: 600px;
    height: 430px;
    margin: 2rem;
    
}
.dos img {
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
}
.dos img:hover {
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}
.uno {
    width: 300px;
    height: auto;
    margin: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}

/* cards */
.cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(240, 240, 240);
    border: 2px solid rgb(243, 241, 245);
}
.cards1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    border: 1px dotted rgb(243, 241, 245);
}
.cards1:hover {
    box-shadow: 4px 4px 20px 8px rgb(240, 217, 255);
}
.cards2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    border: 1px dotted rgb(243, 241, 245);
}
.cards2:hover {
    box-shadow: 4px 4px 20px 8px rgb(240, 217, 255);
}
.cards3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    border: 1px dotted rgb(243, 241, 245);
}
.cards3:hover {
    box-shadow: 4px 4px 20px 8px rgb(240, 217, 255);
}
h2 {
    font-family: 'Rubik Vinyl', cursive;
    font-weight: 300;
    margin: 1.2rem;
}
p {
    font-family: 'Farsan', cursive;
    font-size: 1.2rem;
    margin: 1rem;
}
.cards .cards1 a {
    text-decoration: none;
    font-family: 'Prata', serif;
    color:rgb(243, 241, 245);
}
.cards .cards1 a:hover {
    text-shadow: 6px 6px 5px rgb(243, 241, 245);
}

/* info */

.info {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.info .a-info {
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}
.info img{
    width: 300px;
    height: 300px;
    margin: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: contain;
    filter: drop-shadow(0 0 1rem pink);
}
.info img:hover {
    transform: scale(1.1, 1.1);
}

/*   Mas Info */

.masinfo {
    height:max-content;
    box-shadow: 4px 4px 20px 8px rgb(240, 217, 255);
    padding:1rem;
    margin: 1rem;
}
h3 {
    text-align:center;
    font-family: 'Rubik Vinyl', cursive;
    font-weight: 400;
}
.unop {
    text-align: center;
    font-size: 23px;
    padding-top: 1rem;
}
span {
    font-weight: 600;
}
.dosp {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.dosp p {
    padding: 0.4rem;
    margin: 0;
}

/* invitacion */
.invitacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 1rem;
}
button {
    padding: 0.4rem;
    border: 2px solid rgb(241, 218, 256);
    border-radius: 10px;
}
.invitacion button a{
    text-decoration: none;
    border-radius: 8px;
    border-color: slategrey;
    color:rgb(127, 124, 130);
}
.invitacion button {
    margin-bottom: 2rem;
}
.invitacion button:hover {
    box-shadow: 4px 4px 20px 8px rgb(240, 217, 255);
    background-color: rgb(191, 162, 219);
}
.invitacion button a:hover {
    color:rgb(243, 241, 245);
}

/* interact */

.interact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(127, 124, 130);
    padding: 2rem;
    color: rgb(255 255 255);
}

.interact button a{
    text-decoration: none;
    color:rgb(127, 124, 130);
}

.interact button:hover {
    box-shadow: 4px 4px 20px 8px rgb(240, 217, 255);
    background-color: rgb(191, 162, 219);
}
.interact button a:hover {
    color:rgb(243, 241, 245);
}

/* interact2 */

.interact2 {
    background-color: black;
    border-radius: 10px;
    border: 2px solid rgb(255, 255, 255);
    height: max-content;
    padding: 1rem;
}
.interact2 .a-interact2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.interact2 h2 {
    color:rgb(243, 241, 245);
}
.interact2 i {
    font-size: 30px;
    color:rgb(243, 241, 245);
    padding: 1rem;
}
.a-interact2 i:hover {
    filter: drop-shadow(2px 2px 8px rgb(240, 217, 255));
    cursor: pointer;
}
.interact2 button a{
    text-decoration: none;
    color:rgb(127, 124, 130);
}

.a-interact2 button:hover {
    box-shadow: 4px 4px 20px 8px rgb(240, 217, 255);
    background-color: rgb(191, 162, 219);
}
.a-interact2 button a:hover {
    color:rgb(243, 241, 245);
}

/* footer */

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(127, 124, 130);
    padding: 1rem;
}
.foot {
    display: flex;
    flex-direction: row;
    background-color: rgb(127, 124, 130);
}
.foot button {
    padding: 0;
    margin: 1rem;
    border: 0;
    background-color: rgb(127, 124, 130);
}
.foot i {
    font-size: 30px;
    color:rgb(240, 217, 255);
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

}
.foot .fa-facebook:hover {
    filter: drop-shadow(2px 2px 8px rgb(240, 217, 255));
    cursor: pointer;
}
.foot .fa-instagram:hover {
    filter: drop-shadow(2px 2px 8px rgb(240, 217, 255));
    cursor: pointer;
}


@media (max-width: 480px) {
    .dos {
        width: 100%;
        margin: 1rem 0;
    }
    .dos img {
        padding: 0;
        width: 0px;
        flex-grow: 1;
        object-fit: cover;
        opacity: .8;
        transition: 2s ease;
    }
    .dos img:target {
        width:300px;
        opacity: 1;
        filter: contrast(100%);
    }
}
